<!doctype html>
   <head>
      <title>Read Temps</title>
   </head>

   <body>
      <p> This is where Temperature data will be displayed!</p>

      <br><br><br><br><br><br><br><br>

      <form action="" method="">

	 <label for="upperDate"> Enter Upper Date </label>
         <input type="date" name="upperDate" size="25" id="upperDate"> 				<!--Add one-line text box-->

         <br><br><br>

	 <label for="lowerDate"> Enter Lower Date </label>
         <input type="date" name="lowerDate" size="25" id="lowerDate"

         <input type="submit" value="Submit" /> 

      <!form>
   </body>

</html>
